//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 6;
			transition: all 0.5s ease 0s;
			background-color: transparent;
		}
	}

	&__container {
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 15px;
		@media (min-width: 1200px) {
			@include adaptiv-value("padding-left", 80, 15, 1);
			@include adaptiv-value("padding-right", 30, 15, 1);
		}
	}

	&__body {
		min-height: 80px;
		display: flex;
		align-items: center;
		padding: 5px 0px;
		position: relative;
		transition: all 0.5s ease 0s;
		@media (max-width: $md3+px) {
			min-height: 60px;
		}
	}

	&__logo {
		position: relative;
		z-index: 10;
		margin: 0px 20px 0px 0px;
		display: flex;
		align-items: center;
		svg {
			width: 30px;
			height: 30px;
			margin: 0px 8px 0px 0px;
		}
		span {
			font-weight: 700;
			font-size: 24px;
			line-height: 33 / 24 * 100%;
			letter-spacing: 0.25em;
			color: #3e3f43;
		}
	}

	&__menu {
		@media (min-width: $md2+px) {
			z-index: 15;
		}
		position: relative;
		flex: 1 1 auto;
	}

	&__button {
		flex: 0 0 140px;
		position: relative;
		z-index: 10;
		@media (min-width: $md3+px) {
		}
		@media (max-width: $md2+px) {
			margin: 0px 40px 0px 0px;
		}
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}

	&__login {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-height: 40px;
		background: transparent;
		border: 1px solid #3e3f43;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		font-weight: 700;
		font-size: 16px;
		line-height: 22 / 16 * 100%;
		color: #3e3f43;
		text-transform: uppercase;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				border: 1px solid #daa520;
				background-color: #daa520;
			}
		}
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
		@media (max-width: $md3+px) {
			min-height: 45px;
		}
	}

	&__icon {
	}
}
.menu {
	&__wrapper {
		@media (max-width: $md2+px) {
			transition: all 0.5s ease 0s;
			opacity: 0;
			visibility: hidden;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(249, 189, 189, 0.3);
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: $md4+px) {
			background-color: transparent;
		}
	}

	&__body {
		@media (max-width: $md2+px) {
			overflow: auto;
			position: fixed;
			top: 90px;
			right: 15px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease 0s;
			background-color: #fff;
			min-width: 270px;
			padding: 20px 15px;
			border-radius: 8px;
			&._active {
				top: 80px;
				visibility: visible;
				opacity: 1;
			}
		}
		@media (max-width: $md3+px) {
			top: 80px;
			&._active {
				top: 70px;
			}
		}
		@media (max-width: $md4+px), (max-height: $md4+px) {
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			border-radius: 0;
			padding: 80px 15px 30px 15px;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 60px;
				top: 0;
				left: 0;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				z-index: 2;
				transition: all 0.5s ease 0s;
			}
			&._active {
				top: 0;
				&::before {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		@media (min-width: $md4+px), (min-height: $md4+px) {
			padding: 0;
		}
	}

	&__list {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		li {
			@media (min-width: $md2+px) {
				margin-right: 48px;
				@media (max-width: 1150px) {
					margin-right: 40px;
				}
			}
			@media (max-width: $md2+px) {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}

	&__link {
		font-size: 16px;
		line-height: 22 / 16 * 100%;
		color: rgba(34, 34, 34, 0.75);
		transition: all 0.3s ease 0s;
		&._active {
			font-weight: 800;
			color: #daa520;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #daa520;
			}
		}
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 15;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
