.main {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: percent(370, 1150);
        min-height: 100%;
        top: 0;
        right: 0;
        background-color: $primary_02;
        border-bottom-left-radius: rem(150);
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__wrapper {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        @media (min-width: rem(1150)) {
            max-width: rem(1150);
        }
        @media (min-width: em(900)) {
            min-height: rem(800);
        }
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
        }
        @media (max-width: $tablet) {
            padding-top: rem(100);
        }
    }

    &__content {
        @media (min-width: $tablet) {
            flex: 0 0 100%;
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(20);
        }
    }

    &__body {
        position: relative;
        z-index: 3;
        @media (min-width: $tablet) {
            @include adaptiveValue("width", 504, 290, 950, 479.98, 1);
        }
        @media (max-width: $tablet) {
            text-align: center;
        }
    }

    &__text {
        @extend %subtitle_01;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        span {
            font-weight: 700;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 72, 36, 950, 479.98, 1);
        line-height: math.div(98, 72);
        color: $dark_01;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__btn {
        min-height: rem(50);
        min-width: rem(175);
    }

    &__image {
        position: relative;
        z-index: 3;
        text-align: center;
        @media (min-width: $tablet) {
            transform: translate(-100%, rem(40));
            flex: 0 0 50%;
        }
        @media (max-width: $tablet) {
            max-width: rem(400);
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
    }

    &__bg {
        position: absolute;
        z-index: 1;
        bottom: rem(18);
        @include adaptiveValue("height", 382, 200, 950, 479.98, 1);
        @include adaptiveValue("width", 382, 200, 950, 479.98, 1);
        right: percent(250, 1150);
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            right: auto;
            left: -10%;
            bottom: 20%;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.about {
    position: relative;
    &__container {
        overflow: visible;
    }

    &__top {
        @include adaptiveValue("margin-bottom", 120, 40, 950, 479.98, 1);
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 50, 40, 950, 479.98, 1);
        }
    }

    &__row-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(40);
        @media (max-width: $mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__row-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__bg-icon {
        position: absolute;
        bottom: percent(175, 950);
        left: rem(-60);
        @include adaptiveValue("height", 382, 200, 950, 479.98, 1);
        @include adaptiveValue("width", 382, 200, 950, 479.98, 1);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
}

.row-top-about {
    &__column {
        &_image {
            margin-right: rem(20);
            flex: 0 1 rem(426);
            @media (max-width: $mobile) {
                margin-right: 0;
                @include adaptiveValue("margin-bottom", 50, 20, 950, 479.98, 1);
                text-align: center;
            }
        }
        &_info {
            flex: 0 1 rem(450);
            @media (min-width: $mobile) {
                margin-left: rem(20);
            }
            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }
    }

    &__picture {
        position: relative;
    }

    &__image {
        position: relative;
        z-index: 2;
        min-height: rem(250);
        img {
            max-width: 100%;
        }
    }

    &__bg {
        position: absolute;
        @include adaptiveValue("border-bottom-left-radius", 120, 30, 950, 479.98, 1);
        @include adaptiveValue("border-top-right-radius", 120, 30, 950, 479.98, 1);
        bottom: 0;
        left: 0;
        @include adaptiveValue("width", 278, 180, 950, 479.98, 1);
        @include adaptiveValue("height", 388, 250, 950, 479.98, 1);
        background-color: $primary_03;
        @media (max-width: $mobile) {
            bottom: 5%;
        }
    }

    &__info {
        margin-top: rem(22);
        @media (max-width: $tablet) {
            margin-top: 0;
        }
    }

    &__title {
        @extend %subtitle_01;
        font-weight: 800;
        @include adaptiveValue("margin-bottom", 15, 10, 950, 479.98, 1);
        span {
            font-weight: 600;
        }
    }

    &__text {
        @extend %text_04;
    }
}

.row-bottom-about {
    &__column {
        &_image {
            pointer-events: none;
            flex: 0 0 100%;
            @media (max-width: $tablet) {
                flex: 0 1 rem(300);
            }
            @media (max-width: $mobile) {
                flex: 0 1 rem(200);
                @include adaptiveValue("margin-top", 50, 20, 950, 479.98, 1);
            }
        }
        &_info {
            flex: 0 0 100%;
            @media (max-width: $tablet) {
                flex: 0 1 rem(650);
            }
            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }
    }

    &__info {
        max-width: rem(680);
        @media (max-width: $tablet) {
            max-width: none;
        }
    }

    &__title {
        font-weight: 600;
        @extend %subtitle_01;
        color: $mainColor;
        @include adaptiveValue("margin-bottom", 15, 10, 950, 479.98, 1);
        span {
            font-weight: 800;
        }
    }

    &__text {
        @extend %text_04;
    }

    &__image {
        text-align: right;
        transform: translate(-100%, 0px);
        max-width: rem(300);
        @media (max-width: $tablet) {
            transform: translate(0px, 0px);
        }
        img {
            pointer-events: all;
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.how {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 60, 30, 950, 479.98, 1);
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: rem(5);
        @include adaptiveValue("margin-bottom", 60, 30, 950, 479.98, 1);
        @include adaptiveValue("row-gap", 60, 40, 767, 320, 1);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    &__body-top {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(10);
    }

    &__number {
        font-weight: 600;
        @include adaptiveValue("font-size", 96, 70, 950, 479.98, 1);
        color: rgba(249, 189, 189, 0.25);
    }

    &__icon {
        @include adaptiveValue("margin-bottom", 18, 15, 950, 767.98, 1);
        transform: translate(rem(-15), 0px);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            transform: translate(rem(-10), 0px);
        }
    }

    &__text {
        text-align: center;
        @extend %text_04;
        font-weight: 700;
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    &__btn {
        min-height: rem(50);
        flex: 0 0 rem(212);
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
}

//========================================================================================================================================================

.categories {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 40, 30, 950, 479.98, 1);
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include adaptiveValue("gap", 56, 20, 950, 767.98, 1);
        @media (max-width: $mobile) {
            @include adaptiveValue("gap", 40, 20, 767.98, 479.98, 1);
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            gap: rem(40);
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        padding: rem(25) rem(15);
        min-height: rem(400);
        @include adaptiveValue("border-bottom-left-radius", 120, 80, 950, 479.98, 1);
        @include adaptiveValue("border-top-right-radius", 120, 80, 950, 479.98, 1);
        &:nth-child(3n + 1) {
            background-color: $primary_02;
        }
        &:nth-child(3n + 2) {
            background-color: $primary_03;
        }
        &:nth-child(3n + 3) {
            background-color: $primary_04;
        }
    }

    &__title {
        width: 80%;
        display: inline-flex;
        @include adaptiveValue("margin-bottom", 20, 15, 950, 479.98, 1);
        font-weight: 800;
        @extend %text_04;
        color: $dark_02;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__image {
        flex: 1 1 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease 0s;
        @include adaptiveValue("margin-bottom", 20, 15, 950, 479.98, 1);
        img {
            max-width: 100%;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__btn-bottom {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin-left: auto;
    }
    &__btn {
        flex: 0 0 rem(125);
        min-height: rem(40);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: rem(1) solid $dark_02;
        border-radius: rem(4);
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
        background-color: transparent;
        font-weight: 600;
        @extend %text_02;
        color: $dark_02;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                background-color: $dark_02;
            }
        }
    }
}

//========================================================================================================================================================

.testi {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 40, 30, 950, 479.98, 1);
    }

    &__body {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 40, 20, 950, 767.98, 1);
    }

    &__image-ibg {
        flex: 0 0 percent(260, 950);
        @include adaptiveValue("border-bottom-right-radius", 80, 60, 950, 479.98, 1);
        @include adaptiveValue("border-top-left-radius", 80, 60, 950, 479.98, 1);
        overflow: hidden;
        box-shadow: 0px 0px rem(8) rgba(0, 0, 0, 0.15);
        min-height: rem(250);
        @media (max-width: $mobile) {
            flex: 0 1 40%;
            &:first-child {
                display: none;
            }
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

    &__slider {
        flex: 0 1 percent(405, 950);
        min-width: 0;
        @media (max-width: $mobile) {
            flex: 0 1 60%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__swiper {
        @include adaptiveValue("border-bottom-left-radius", 80, 60, 950, 479.98, 1);
        @include adaptiveValue("border-top-right-radius", 80, 60, 950, 479.98, 1);
        border: rem(1) solid $primary_04;
        background-color: $white;
        padding: rem(54) rem(16);
        margin-bottom: rem(20);
        @media (max-width: $mobileSmall) {
            padding: rem(40) rem(16);
        }
    }

    &__wrapper {
    }

    &__slide {
    }

    &__stars {
        display: flex;
        gap: rem(4);
        margin-bottom: rem(16);
    }

    &__star {
    }

    &__text {
        font-weight: 600;
        line-height: math.div(19, 14);
        color: $dark_02;
        margin-bottom: rem(16);
    }

    &__slide-bottom {
        display: flex;
        align-items: center;
        gap: rem(8);
    }

    &__avatar-ibg {
        flex: 0 0 rem(40);
        height: rem(40);
        overflow: hidden;
        border-radius: 50%;
    }

    &__info {
        font-weight: 600;
        @extend %text_03;
        color: $gray_02;
    }

    &__navigation {
        margin-bottom: rem(25);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-item {
        font-weight: 600;
        line-height: math.div(19, 14);
        color: $gray_03;
        display: flex;
        gap: rem(8);
        align-items: center;
        span {
            transition: color 0.3s ease 0s;
        }
        svg {
            path {
                transition: fill 0.3s ease 0s;
            }
        }
        &_prev {
        }
        &_next {
            svg {
                transform: rotate(-180deg);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    color: $dark_02;
                }
                svg {
                    path {
                        fill: $dark_02;
                    }
                }
            }
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(8);
        cursor: pointer;
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
        .swiper-pagination-bullet {
            height: rem(8);
            width: rem(40);
            transition: background-color 0.3s ease 0s;
            border-radius: rem(8);
            background-color: $gray_03;
        }
        .swiper-pagination-bullet-active {
            background-color: $primary_01;
        }
    }
}
